/* @import '../../../node_modules/open-color/open-color.css'; */
/* @import url("https://cdn.jsdelivr.net/npm/open-color@1.9.1/open-color.min.css"); */
@import url('../../../node_modules/open-color/open-color.css');

/* .card-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color:  var(--oc-teal-6);
    color: var(--oc-white);
} */
.card-list {
    width: 85vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    justify-content: center;
    align-items: center;

}
