html {
    font-size: 62.5%;
}

.search-box {
    -webkit-appearance: none;
    border: 0;
    outline: none;
    padding: 1rem;
    width: 15rem;
    border-radius: 1.1rem;
    line-height: 3rem;
    margin-bottom: 3rem;
}
.search-box::-webkit-input-placeholder {
    color: #087f5b;
    font-style: italic;
    font-size: 14px;
    letter-spacing: 0.1rem;
  }
  
